{
    "presets": [
        [
            "@babel/preset-typescript", // <---
            {
                "preset-env": {
                    "modules": "commonjs"
                }
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ]
}